@keyframes blurOut {
   0% { filter: blur(0.5px); }
   100% { filter: blur(2px); }
}

@keyframes fadeInSlowly {
   0% { visibility: hidden;}
   100% { visibility: visible;}
}

.cursor:after {
   content:"_";
   opacity: 0;
   animation: cursor 1s infinite;
}

@keyframes cursor {
   0% {
       opacity: 0;
   }
   40% {
       opacity: 0;
   }
   50% {
       opacity: 1;
   }
   90% {
       opacity: 1;
   }
   100% {
       opacity: 0;
   }
}