@keyframes blurOut {
	0% { filter: blur(0.5px); }
	100% { filter: blur(2px); }
}

// @keyframes fadeInSlowly {
//    0% { visibility: hidden;}
//    100% { visibility: visible;}
// }


//EVERYTHING TO DO WITH THE CIRCLE ANIMATION HARVESTED FROM THE WEB

@-webkit-keyframes body /* Safari and Chrome */
{

50% {background: $color4; }
}

.introPage {
	-webkit-animation: body 5s infinite;
  background: $color3;
}
@-webkit-keyframes one /* Safari and Chrome */
{

50% {background: $color4; }
}

.circle {
  -webkit-animation: one 4s infinite;
  position:absolute;
  width:100px;
  height:100px;
  background:red;
  opacity: 0.5;
  border-radius:50%;
  top:5%;
  left:50%;
  margin-left: -50px;
  }
@-webkit-keyframes two /* Safari and Chrome */
{

100% {background: red; opacity: 0;height:700px;width:800px;
 top: -webkit-calc(40% - 350px);
left: -webkit-calc(50% - 400px); }
}

@-webkit-keyframes three /* Safari and Chrome */
{
100% {background: rgb(117, 206, 0); opacity: 0;height:500px;width:500px;
 top: -webkit-calc(40% - 225px);
left: -webkit-calc(50% - 250px); }
}