
// LIGHTBOX FOR CHOICES

.choiceOverlay {
   visibility: hidden;
   opacity: 0;
   display: flex;
   align-items: center;
   justify-content: space-around;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(12, 24, 33, 0.8);
   transition: all 0.5s;

   div {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-radius: 500px;
      width: 600px;
      height: 600px;
      z-index: 10;
      // border: 20px solid rgba(12, 24, 33, 1);
      // box-shadow: 0 0 100px 70px rgba(12, 24, 33, 1);

      a,
      p,
      button {
         z-index: 10;
      }

      .overlayImg {
         position: absolute;
         top: 0;
         bottom: 0;
         right: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         z-index: 8;
         border-radius: 500px;
      }

      .overlayColor {
         position: absolute;
         top: 0;
         bottom: 0;
         right: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: 9;
         // background: rgba(12, 24, 33, 0.4);
      }

      .closeX {
         position: absolute;
         color: $color1;
         top: 5px;
         right: 5px;
      }
      .confirm {
         padding: 15px 40px;
      }
   }

}

.choiceOverlayText {
   visibility: hidden;
   opacity: 0;

   .overlayMessage {
      text-align: center;
      background: rgba(12, 24, 33, 0.95);
      border-radius: 20px;
      max-width: 300px;
      padding: 30px;
   }
}





