
// $color1: rgba(219, 194, 207, 1);
// $color2: rgba(159, 162, 178, 1);
// $color3: rgba(60, 122, 137, 1);
// $color4: rgba(46, 71, 86, 1);
// $color5: rgba(22, 38, 46, 1);

// $color1: rgba(234, 237, 237, 1);
// $color2: rgba(124, 142, 145, 1);
// $color3: rgba(100, 115, 123, 1);
// $color4: rgba(59, 69, 74, 1);
// $color5: rgba(24, 32, 35, 1);

// $color1: rgba(214, 220, 220, 1);
// $color2: rgba(124, 142, 145, 1);
// $color3: rgba(100, 115, 123, 1);
// $color4: rgba(59, 69, 74, 1);
// $color5: rgba(24, 32, 35, 1);

// $color1: rgba(151, 239, 233, 1);
// $color2: rgba(167, 196, 194, 1);
// $color3: rgba(106, 15, 73, 1);
// $color4: rgba(74, 0, 31, 1);
// $color5: rgba(46, 2, 25, 1);

$color1: rgba(236, 235, 242, 1);
$color2: rgb(67, 103, 134);
// $color2: rgba(50, 74, 95, 1);
// $color3Light: rgb(88, 108, 138);
$color3Light: rgb(120, 136, 161);
$color3: rgba(27, 42, 65, 1);
$color4: rgba(12, 24, 33, 1);
$color5: rgba(0, 0, 0, 1);

$borderColor: $color2;
$buttonColor: $color3;

body {
   background-color: $color5;
   color: $color1;
}

a {
   color: wheat;
   text-decoration: none;

   &:hover, &:active {
      color: $color2;
   }
}

span, h1, button {
   color: $color1;
}

h2, h3, h4, h5 {
   color: $color2;
}