.introPage {
   visibility: hidden;
   background: $color5;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 10;
   padding: 0 10px;

   p {
      font-size: 18px;
      line-height: 20px;
      width: 700px;
      padding: 10px 50px 0;
   }
}

.introPageTextFlex {
   display: flex;
   flex-direction: column;
}

.introPageTextBlock {
   display: flex;
   flex-direction: column;
   margin-top: 20px;

}

.introPageTextBlock:nth-child(even) {
   align-items: flex-end;
}

.introPageTextBlock:nth-child(odd) {
   align-items: flex-start;
}



.hideIntroPage {
   position: absolute;
   right: 0;
   bottom: 0;
   display: inline-block;
   max-width: 300px;
   padding: 20px 50px;
   margin: 20px;
   align-self: flex-end;

}