
// ALL THE CHOICE IMAGES

main {
   height: 97vh;
}

.mainPageTitle {
   // min-height: 50px;
   text-align: center;
   padding: 10px 0 ;
   font-size: 40px;
   // line-height: 10px;
}

form {
   // min-height: 500px;
   max-width: 600px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   // max-width: 900px;
   // margin: 0 auto;

   .choice {
      display: flex;
      justify-content: space-around;
      position: relative;
      width: 110px;
      height: 110px;
      margin-top: 15px;
      overflow: hidden;
   }
}

.imgBox {
   display: block;
   position: relative;
   // border: $color3 2px solid;

   img {
      height: 100%;
      width: 100%;
      object-fit: cover;
   }
}

.imgOverlay {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.404);
   transition: all 1s;

   &:hover {
      background: none;
   }
}

.radioButton {
   display: none;
}

// MESSAGES ZONE

.messageZoneDiv {
   display: flex;
   min-height: 150px;
   max-height: 200px;
   // border-radius: px;
   margin-top: 20px;
   // padding: 25px;
   display: flex;
   justify-content: space-between;
   background: $color4;
   border: 1px solid $color3;
   box-shadow: 0 0 0 5px $color4;
}

.messageZone {
   display: inline-block;
   margin: 10px;
   color: $color1;
   font-size: 18px;
}

.aiMessage {
   display: inline-block;
}

.evolutionButton {
   min-width: 200px;
   min-height: 50px;
   visibility: hidden;
   margin: 10px;
   padding: 0;
}