//  'Megrim', cursive;
//  $fontHeader:'Philosopher', sans-serif;
$fontHeader:'Orbitron', sans-serif;
$mainFont:'Share Tech Mono', monospace;

body {
   font-size: 18px;
}

button {
   font-size: 16px;
}

p, span, button, div {
   font-family: $mainFont;
}

h1, h2, h3, h4, h5 {
   margin: 0;
   font-family: $fontHeader;
}

h1 {
   font-size: 110px;
}

h2 {
   font-size: 60px;
}

h3 {
   font-size: 40px;
}

h4 {
   font-size: 30px;
}

h5 {
   font-size: 20px;
   padding: 20px;
}

p {
   line-height: 30px;
}